/*
http://jsfiddle.net/9uRKt/961/
*/
.container {
    border:none;
    overflow:hidden;
    position:relative;
    /* the container's height will determine the height of its slider  */
	min-height:100%;
}


.slider {
	overflow-y: scroll;
	/* complete liquid height based on the parent's height!! */
    height:100%;

    /* only transition on transform properties which are hardware accelerated = way better performances */
	-webkit-transition:-webkit-transform .63s ease;
       -moz-transition:   -moz-transform .63s ease;
        -ms-transition:    -ms-transform .63s ease;
            transition:        transform .63s ease;
}

.slider.opened { 
    /* visible */
    -webkit-transform: translate(0, 0%);
       -moz-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
            transform: translate(0, 0%);
}
.slider.closed { 
    /* completely offscreen */
    -webkit-transform: translate(0, -100%);
       -moz-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
}
.slider {
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
            box-sizing:border-box;

    padding:0;
    background: inherit;
}